# this is ncmpy config file; copy to either of these locations:
#
# - system config: /etc/ncmpy/ncmpy.conf;
# - user config: ~/.config/ncmpy/ncmpy.conf;

# MPD host and port.
MPD_HOST=localhost
MPD_PORT=6600

# Enable song rating or not.
# Values: yes|no
ENABLE_RATING=yes

# Lyrics dir.
# Use ~ for user's home directory
LYRICS_DIR=~/.ncmpy/lyrics
